$hero-colors: ("primary":
             (lighten(adjust-hue($primary, 10deg), 50%), #dddddd));

// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

.has-text-weight-heavy {
    font-weight: 800 !important;
}

// Import Main CSS file from theme
@import "main";

.hero {
    .title,
    .subtitle {
        text-shadow: 1px 1px rgba($primary, 0.5);
        animation: appear 1s;
    }
}
